:root{
    --MAIN-color:#6a6a6a;
}
.a-header {
    background: var(--MAIN-color);
}

.a-footer {
    background-color: var(--MAIN-color);
}

.adocs-sidebarToggle a {
    background: var(--MAIN-color);
}

.searchbox {
    border: 2px solid var(--MAIN-color);
}

.a-linkFeatured {
    color: #000;
}