<footer class="a-footer a-bgBlueDarker ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="a-footerExtraNav">
                        Brønnøysundregistrene,
                        <span class="a-footerExtraNav-name">8910 Brønnøysund. Org.nr. 974 760 673</span>
                        <div class="a-footerExtraNav-toTop d-md-none">
                            <a href="#top" class="a-linkArea a-btn ">
                                Til toppen
                            </a>
                        </div>
                        <ul>
                                <li>
                                    <a class="d-none d-md-inline" href="https://altinn.no/om-altinn/">Om Altinn</a>
                                </li>
                                                        <li>
                                    <a href="https://altinn.no/om-altinn/driftsmeldinger/">Driftsmeldinger</a>
                                </li>
                                                        <li>
                                    <a href="https://altinn.no/om-altinn/personvern/">Personvern og cookies</a>
                                </li>
                        </ul>
                    </nav>
            </div>
        </div>
    </div>
</footer>