<nav class="a-jumpnav">
  <ul class="no-decoration d-flex">
    <li><a class="sr-only sr-only-focusable" href="#content">Hopp til hovedinnholdet</a></li>
    <li><a class="sr-only sr-only-focusable" href="#docsmenu">Hopp til meny</a></li>
  </ul>
</nav>

<header class="a-header ">
  <!-- Begin .container -->
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Begin .a-globalNav -->
        <nav class="a-globalNav " id="primary-nav">
          <a href="/" class="a-globalNav-logo">
            <img src="/docs/images/adocs-logo-white.svg" alt="Altinn logo" class="a-logo a-modal-top-logo ">
            <span class="sr-only">Til forsiden</span>
          </a>
        </nav> <!-- End .a-globalNav -->
        
      </div><!-- End .col -->
    </div> <!-- End .row -->
  </div> <!-- End .container -->
</header>


