/* Font */ 
@font-face {
    font-family: 'DIN-bold';
    src: url('../fonts/d-din-bold-webfont.woff2') format('woff2'),
         url('../fonts/d-din-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-reg';
    src: url('../fonts/d-din-webfont.woff2') format('woff2'),
         url('../fonts/d-din-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-medium';
    src: url('../fonts/d-din-webfont.woff2') format('woff2'),
         url('../fonts/d-din-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p,a {
    letter-spacing: 0.1px;
}

h1 {
    text-align: left;
    text-transform: inherit;
    font-family: 'DIN-bold';
}
h2,h3 {
    margin-top: 36px;
}

/* External links */

a[href^=http]:not([href*='altinn.no']):not([href*='basefarm.net']):not([href*='local.altinn'])::after {
    display: inline-block;
    width: 0;
    margin-left: 0;
    content: '';
}

a[href^=http]:not([href*='altinndigital.no']):not([href*='https://altinnett.brreg.no/']):not([href*='https://altinn.github.io/docs/'])::after {
    display: inline-block;
    width: 1.3em;
    background-image: url("https://altinn.no/images/arrowrightup.svg");
    background-repeat: no-repeat;
    background-size: 119% auto;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: -3px;
    content: '(external link)';
    white-space: nowrap;
    overflow: hidden;
    text-indent: 1.3em;
}

/* Dont show external-link-symbol for images */

figure a[href^=http]:not([href*='altinn.no']):not([href*='basefarm.net']):not([href*='local.altinn'])::after {
    display: inline-block;
    width: 0;
    margin-left: 0;
    content: '';
}

/* Fix for tags pushing header to the right */
#tags {
    float: none;
    margin-top: -1.5rem;
}

/* Disable animations for links */
#body a.highlight {
    line-height: inherit;
}
#body a.highlight:after {
    height:0;
}

/* Altinn styling for links */
#body-inner a.highlight {
    display: inline;
    color: #323232;
    border-bottom: 2px solid #1eaef7;
}
#body-inner a.highlight:hover {
   color: #323232;
   border-bottom: 2px solid #0062ba;
}

/* Scrollable tables */
#body-inner table {
    display: block;
    width: 98%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0;
    margin-bottom: 2em;
}

#body-inner table th {
    border: 1px solid #eaeaea;
}

/* Avoid large margin for images in tables */
#body td a > img {
    margin: 0 auto !important;
}

blockquote {
    border-left: 5px solid #1eaef7;
}
blockquote p {
    font-size: 1.1rem;
    color: #222;
}
li > label {
    font-weight: normal;
}

/* Grid adjustments */

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
    #sidebar {
        top: 89px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: none;
    }
    #sidebar {
        top: 110px;
    }
    .a-header {
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    .ad-content {
        margin-top: 112px;
    }
}

/* altinndigital.no - Use the same header for docs */

.a-header {
    background: #022f51;
    height: 79px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .a-header {
        height: 100px;
    }
}

.a-header a,
.a-globalNav-main li a,
.a-globalNav-main li a:hover {
    color:#fff;
}
.a-globalNav-main li a:hover {
    border-bottom: 3px solid #fff;
}

.a-header .a-logo {
    width: 284px;
    height: 33px;
    max-width: 200px;
}

@media (min-width: 992px) {
    .a-header .a-logo {
        max-width: 284px;
    }
}

/* Menu-button for mobile */ 
.a-globalNav .navbar-toggler {
    color: #fff;
    border: 3px solid #fff;
}

/* Push menu button to the right */
.a-globalNav .navbar-toggler {
    right: 12px;
}

@media (min-width: 576px) {
    .a-globalNav .navbar-toggler {
        right: 12px;
    }
}

/* Search-button to open a searchfield */ 

.a-globalNav-main li:last-child > a {
    border-bottom: solid;
}

.ad-toggle-search {
    background:transparent;
    color: #fff;
    border: none;
    position: relative;
}

.ad-toggle-search:hover,
.ad-toggle-search:focus,
.ad-toggle-search:active  {
    border: none; 
}

.ad-toggle-search:hover:before {
	bottom: 100%;
    right: 12px;
    top: 31px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.1);
	border-width: 18px;
    margin-left: -18px;
}

.a-header-options .nav-link {
    padding-top: 4px;
}

.a-header-options .nav-link:active,
.a-header-options .nav-link:focus,
.ad-toggle-search:focus,
.ad-toggle-search:active {
    color: #fff;
}

@media (min-width: 992px) {
    .a-header-options .nav-link {
        padding-top: 3px;
    }
}

/* Collapsable search input */ 

input[type="search"] {
    box-shadow: none;
}

.a-form-group .input-group-append .btn, 
.form-group .input-group-append .btn {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.a-collapseContent .a-collapseContent-inside {
    padding-bottom: 0;
}

.ad-collapseSearch.collapsing .arrow-tr:after{ 
    display: block;
}

/* Arrow top right */

.arrow-tr {
    position: relative;
    background: #ffffff;
    z-index: 9999;
}

.arrow-tr:before {
	bottom: 100%;
    right: 12px;
    top: -72px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
	border-width: 18px;
    margin-left: -18px;
}

@media (min-width: 992px) {
    .arrow-tr:before {
        right: 24px;
    }
}


/* Sidebar */

@media (min-width: 992px) {
    #sidebar {
    position: relative;
    float: left;
    width: 270px;
    }
}

#header-wrapper, 
#sidebar,
#sidebar ul.topics > li.parent,
#sidebar a,
.searchbox
 {
    background-color: transparent;
    color: #000;
}

#header-wrapper {
    border-bottom: 0;
    padding: 0 0 0 1px;
}

#sidebar a {
    border-bottom: 0;
}

#sidebar a:hover {
    color: #000;
    text-decoration: underline;
}

#sidebar ul.topics {
    margin: 36px 0 0 0;
    overflow-x: hidden;
}

#sidebar ul li {
    border-top: 1px solid #cacaca;
}

#sidebar ul li ul li {
    border-top: 0;
}

#sidebar ul li.active > a {
    font-family: 'DIN-bold';
    text-decoration: underline;
    color: #000 !important;
    margin-left: 0; 
    margin-right: 0; 
}

#sidebar ul li a {
    padding: 9px 9px;
}

#sidebar ul li:last-child > a {
    border-bottom: 1px solid #cacaca;
}

#sidebar ul li .category-icon {
    top: 13px;
    right: 6px;
}

#sidebar ul li.active > a .category-icon {
    right: 6px;
}

/* Sidebar level 2 */

#sidebar ul ul li > a {
    padding: 6px 6px;
    border-top: none;
}

#sidebar ul li li {
    padding-right: 0;
}

#sidebar ul ul li:last-child > a {
    border-bottom: none;
}

#sidebar .parent li, #sidebar .active li {
    border-left: 1px solid #cacaca;
}


/* Content */

#body-inner {
    margin-bottom: 0;
}

.ad-content {
    padding: 36px 48px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(137,137,137,.5);
    box-shadow: 1px 1px 4px 0 rgba(137,137,137,.5);
    margin-bottom: 12px;
}

.panel.panel-primary {
    border: none;
    background: #cff0ff;
    border-radius: 0;
    box-shadow: none;
}

.panel.panel-primary .panel-body {
    padding: 24px;
}


.children.children-li li {
    list-style: none;
    padding: 24px 48px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(137,137,137,.5);
    box-shadow: 1px 1px 4px 0 rgba(137,137,137,.5);
    margin-bottom: 12px;
}

/* Table of content, shows when you set toc:true in frontmatter */ 
.children-li p {
    margin-top: 12px;
    font-size: 16px;
    font-style: normal;
}

/* Fix circle-list */
.a-text ol, .a-text .a-circle-list {
    margin-left: 3px;
}

.a-text ol li::before, .a-text .a-circle-list li::before {
    padding: 4px 10px 5px 10px;
}

/* Summary (Collapse content) */
summary {
    padding: 22px 0 5px 0;
    border-top: 4px #f1f1f1 solid;
}

hr {
    border-bottom: 4px solid #F0F2F4;
}

/* Hide footline */ 
.footline {
    border:none;
}

/* Breadcrumb */

#body #top-bar {
    background: transparent;
    box-shadow: none;
}

#body #breadcrumbs {
    width: 100%;
}

#body #breadcrumbs .links {
    color: #6c757d;
    font-size: 18px;
}

#body #breadcrumbs .links a {
    line-height: 1.3;
}

#body #breadcrumbs span.ad-breadcrumb-divider {
    padding: 0 6px;
}

.progress {
    border:none;
}

/* Github link */

#top-github-link {
    margin-top: 36px;;
}

/* Table of contents */

#TableOfContents {
    font-size: 14px !important;
    padding: 0 !important;
}

#TableOfContents ul {
    margin-bottom: 24px;
}

#TableOfContents li {
    margin: 0px;
    margin-bottom: 6px;
}

#TableOfContents ul li:first-child:before{
    content: '';
}

#TableOfContents ul ul li:first-child:before{
    content: '•';
}

#TableOfContents ul li{
    padding-left: 0px;
}

#TableOfContents ul ul li{
    padding-left: 24px;
}


#TableOfContents ul ul ul {
    display: none;
}

/* Remove external link icons in header and footer */ 

.a-header a[href^=http]:not([href*='altinn.no']):not([href*='basefarm.net']):not([href*='local.altinn'])::after,
.an-footer a[href^=http]:not([href*='altinn.no']):not([href*='basefarm.net']):not([href*='local.altinn'])::after {
    display: none;
}

/* Selection on code*/

.hljs::selection, .hljs span::selection {
    background: #e0daf7;
}