
/* External links */

a[href^=http]:not([href*='altinn.no']):not([href*='basefarm.net']):not([href*='local.altinn'])::after {
    display: inline-block;
    width: 0;
    margin-left: 0;
    content: '';
}

a[href^=http]:not([href*='altinndigital.no']):not([href*='https://altinnett.brreg.no/']):not([href*='/docs/'])::after {
    display: inline-block;
    width: 1.3em;
    background-image: url("https://altinn.no/images/arrowrightup.svg");
    background-repeat: no-repeat;
    background-size: 119% auto;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: -3px;
    content: '(external link)';
    white-space: nowrap;
    overflow: hidden;
    text-indent: 1.3em;
}


/* Fix for tags pushing header to the right */
#tags {
    float: none;
    margin-top: -1.5rem;
}

/* Scrollable tables */
#body-inner table {
    display: block;
    width: 98%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0;
    margin-bottom: 2em;
}

#body-inner table th {
    border: 1px solid #eaeaea;
}

/* Avoid large margin for images in tables */
#body td a > img {
    margin: 0 auto !important;
}



/* * * * * * * * * * * * * * * * * * * * * /
 * Overriding css from altinn digitalisering.
 * * * * * * * * * * * * * * * * * * * * * /

/* Footer */
.an-footer {
    margin-top: 100px;
}

