
/* External links */

a[href^=http]:not([href*='altinndigital.no']):not([href*='altinn.no']):not([href*='altinn.studio']):not([href*='altinn.github.io'])::after {
    display: inline-block;
    width: 1.3em;
    background-image: url("https://altinn.no/images/arrowrightup.svg");
    background-repeat: no-repeat;
    background-size: 119% auto;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: -3px;
    content: '(external link)';
    white-space: nowrap;
    overflow: hidden;
    text-indent: 1.3em;
}


/* Fix for tags pushing header to the right */
#tags {
    float: none;
    margin-top: -1.5rem;
}

/* Scrollable tables */
#body-inner table {
    display: block;
    width: 98%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 0;
    margin-bottom: 2em;
}

#body-inner table th {
    border: 1px solid #eaeaea;
}

/* Avoid large margin for images in tables */
#body td a > img {
    margin: 0 auto !important;
}


/* * * * * * * * * * * * * * * * * * * * * /
 * Overriding css from altinn digitalisering.
 * * * * * * * * * * * * * * * * * * * * * /

/* Footer */
.an-footer {
    margin-top: 100px;
}


/* Login link in topbar */
.a-header-options {
    margin-top: -2px;
}

.a-header-options .nav-link.a-personSwitcher {
    padding: 8px 12px 8px 12px;
}

.an-login {
    display: none;
}

@media all and (min-width: 768px) {
    .an-login {
        display: block;
    }
}

.a-personSwitcher:hover,
.a-personSwitcher .a-personSwitcher-icon {
    color: #fff;
}

.a-personSwitcher .a-personSwitcher-name span {
    font-weight: 700;
}

@media all and (min-width: 768px) {
    .a-globalNav-main li {
        margin-left: 24px;
    }
}

@media all and (min-width: 992px) {
    .a-globalNav-main li {
        margin-left: 38px;
    }
}

/* Header */


.a-globalNav .a-globalNav-logo {
    margin-left: 3px;
}

@media (min-width: 576px) {
    .a-globalNav .a-globalNav-logo {
        margin-left: 12px;
    }
}

@media (min-width: 768px) {
    .a-globalNav-main li:last-child > a {
        border-bottom: solid;
    }
}

@media (min-width: 992px) {
    .a-header  {
        padding-top: 33px;
    }
    .a-header .a-logo {
        max-width: 284px;
        margin-top: 1px;
    }
    .a-globalNav .a-globalNav-logo {
        margin-left: 0;
    }
}

.a-globalNav-logo {
    margin-top: -3px; 
}

.adocs-logo {
    margin-top: -11px;
}

.adocs-logo-text {
    display: inline-flex;
    max-width: 120px;
    white-space: nowrap;
}

@media (min-width: 576px) {
    .adocs-logo-text {
        display: inline-flex;
        max-width: 220px;
        white-space: nowrap; 
    }
}

.adocs-logo-text span {
    font-size: 24px;
    overflow: hidden !important;
    color: white;
    text-overflow: ellipsis;
    text-transform: lowercase;
}

body.adocs-design .a-globalNav-main li a[href*='/design/'] {
    border-bottom: solid white 3px;
}

body.adocs-teknologi .a-globalNav-main li a[href*='/teknologi/'] {
    border-bottom: solid white 3px;
}

body.adocs-innhold .a-globalNav-main li a[href*='/innhold/'] {
    border-bottom: solid white 3px;
}

.a-globalNav-main .a-label {
    margin-top:-18px;
    padding: 2px 9px 0px 9px;
}

@media (min-width: 768px) {
    .a-header-options .a-languageSwitcher,
    .a-header-options .a-languageSwitcher:hover,
    .a-header-options .a-languageSwitcher:focus,
    .a-header-options .a-languageSwitcher:active {
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .a-header-options .a-languageSwitcher:hover::before {
        position: absolute;
        top: -7px;
        left: -18px;
        width: calc(100% + 36px);
        height: calc(100% + 24px);
        content: ' ';
        background: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 50px;
    }

    .a-personSwitcher:focus,
    .a-personSwitcher:hover {
        background: rgba(255, 255, 255, 0.1);
        border-color: #fff;
        border-radius: 50px;
    }

    .a-header-options .a-languageSwitcher:focus::before,
    .a-header-options .a-languageSwitcher:hover::before,
    .a-header-options .a-personSwitcher:focus::before,
    .a-header-options .a-personSwitcher:hover::before {
        background: rgba(255, 255, 255, 0.1);
    }

    .a-header-options .nav-link.a-personSwitcher,
    .nav-pills .nav-item.show .nav-link.a-languageSwitcher {
        color: #fff;
    }
}

.a-header a, .a-globalNav-main .a-dropdown-languages li a {
    color: #000;
}

/* Login link in topbar */
.a-header-options {
    margin-top: -2px;
}

.a-header-options .nav-link.a-personSwitcher {
    padding: 8px 12px 8px 12px;
}

.an-login {
    display: none;
}

@media all and (min-width: 768px) {
    .an-login {
        display: block;
    }
}

.a-personSwitcher:hover,
.a-personSwitcher .a-personSwitcher-icon {
    color: #fff;
}

.a-personSwitcher .a-personSwitcher-name span {
    font-weight: 700;
}
