<nav class="a-jumpnav">
  <ul class="no-decoration d-flex">
    <li><a class="sr-only sr-only-focusable" href="#content">Hopp til hovedinnholdet</a></li>
    <li><a class="sr-only sr-only-focusable" href="#docsmenu">Hopp til meny</a></li>
  </ul>
</nav>

<header class="a-header ">
  <!-- Begin .container -->
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Begin .a-globalNav -->
        <nav class="a-globalNav " id="primary-nav">
          <a href="https://www.altinndigital.no/" class="a-globalNav-logo">
            <img src="/docs/images/an-logo-white.svg" alt="Altinn digitalisering logo" class="a-logo a-modal-top-logo ">
            <span class="sr-only">Til forsiden</span>
          </a>

          <button class="navbar-toggler d-md-none" type="button"><span class="sr-only">Vis/skjul meny</span></button>
          <div class="collapse navbar-toggleable-sm a-globalNav-main" id="exCollapsingNavbar2">
            <ul id="exCollapsingNavbar">
              <li class="d-md-none">
                <div class="form-group a-form-group">
                  <label class="a-form-label sr-only" for="text-input-search-12">
                    Søk etter innhold
                  </label>
                  <div class="a-form-group-items input-group">
                    <input type="text" class="form-control a-hasButton" id="mobilesearch-by" placeholder="Søk etter innhold">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="submit" name="search-button-mob" id="mobilesearch-submit" aria-label="Search">
                        <i class="ai ai-search" aria-hidden="true">
                          <span class="sr-only">Søk</span>
                        </i>
                      </button>
                    </div>
                  </div>

                </div>
              </li>

              <li>
                <a class="a-hvr-underline" href="https://www.altinndigital.no/produkter/">
                  produkter
                </a>
              </li>
              <li>
                <a class="a-hvr-underline " href="https://www.altinndigital.no/eksempler/">
                  eksempler
                </a>
              </li>
              <li>
                <a class="a-hvr-underline" href="/docs/">
                  utvikling
                </a>
              </li>
            </ul>
          </div>

        </nav> <!-- End .a-globalNav -->
        <ul class="nav nav-pills a-header-options" id="nav-list">

          <li class="nav-item dropdown d-none d-md-block">
            
            <button class="a-collapse-title nav-link adocs-toggle-search" type="button" data-toggle="collapse" data-target="#collapseSearchContent" aria-expanded="false" aria-controls="collapseSearchContent">
                <span>
                    <i class="ai ai-search" aria-hidden="true">
                      <span class="sr-only">Søk</span></i>
                  </span>
              </button>
          </li>
        </ul>
      </div><!-- End .col -->
    </div> <!-- End .row -->
  </div> <!-- End .container -->
</header>



<div id="collapseSearchContent" class="a-collapseContent adocs-collapseSearch collapse">
  <div class="a-collapseContent-inside px-0">
    <div class="bg-white pt-3 pb-3">
      <div class="container">
        <div class="row arrow-tr">
          <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
            <div class="form-group a-form-group  a-form-group-large">
              <label class="a-h2" for="topbar-search-by">Hva leter du etter?</label>
              <div class="a-form-group-items input-group">
                <input data-search-input id="topbar-search-by" class="form-control a-hasButton" type="text" placeholder="Søk etter innhold" autofocus>
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="submit" name="search-button" id="topbar-search-submit" aria-label="Search">
                    <i class="ai ai-search" aria-hidden="true"></i>
                    <span class="sr-only">Søk</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>