<!-- start custom-head.html -->
<link href="{{"css/altinn.css" | relURL}}" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114303148-1"></script>
<script>
var host = window.location.hostname;
if(host != "localhost")
{
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-114303148-1', { 'anonymize_ip': true });
}
</script>
<!-- end custom-head.html -->
