<footer class="an-footer a-bgBlueDarker">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 an-footer-contactColumn">
                <div class="an-footer-contactInfo">
                    <h1 class="an-footer-heading">Vil du vite mer?</h1>
                    <ul class="an-footer-contactLinks">
                        <li>
                            <a href="https://github.com/Altinn/">
                                <i class="fa fa-github" aria-hidden="true"></i>
                                <span>GitHub</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://vimeo.com/digdir/">
                                <i class="fa fa-vimeo" aria-hidden="true"></i>
                                <span>Vimeo</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://altinn.slack.com/">
                                <i class="fa fa-slack" aria-hidden="true"></i>
                                <span>Slack</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-9 an-footer-navigationColumn">
                <div class="an-footer-search">
                    <div class="form-group a-form-group a-form-group-darkBackground">
                        <label class="a-form-label sr-only" for="text-input-search-footer">Søk etter innhold</label>
                        <div class="a-form-group-items input-group">
                            <input class="form-control a-hasButton" type="search" placeholder="Søk etter innhold"
                                name="query" data-val="true" id="text-input-search-footer">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="footerserachbutton">
                                    <i class="ai ai-search" aria-hidden="true"></i>
                                    <span class="sr-only">Søk</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="an-footer-infoLinks">
                    <li>
                        <a href="https://www.altinndigital.no/om-altinn/">Om Altinn</a>
                    </li>
                    <li>
                        <a href="https://www.altinndigital.no/dette-jobber-vi-med/">Dette jobber vi med</a>
                    </li>
                    <li>
                        <a href="https://www.altinndigital.no/dette-jobber-vi-med/innovasjon/">Innovasjon</a>
                    </li>
                    <li>
                        <a href="https://jobb.altinndigital.no">Jobb hos oss</a>
                    </li>
                </ul>
                <div class="an-footer-supplementaryInfo">
                    <ul class="an-footer-smallLinks">
                        <li>
                            <a href="https://www.altinndigital.no/driftsmeldinger/">Driftsvarsler</a>
                        </li>
                        <li>
                            <a href="https://www.altinndigital.no/om-altinn/personvern/">Personvern</a>
                        </li>
                        <li>
                            <a href="https://www.altinndigital.no/hjelp/">Hjelp</a>
                        </li>
                    </ul>
                    <span class="an-footer-address">Digitaliseringsdirektoratet, Postboks 1382 Vika, 0114 Oslo. Org.nr. 991 825 827</span>
                </div>
            </div>
        </div>
    </div>
</footer>