
                </div>
              </div>
            </div><!-- End ad-content -->

            {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
              {{ $File := .File }}
              {{ $Site := .Site }}
              {{with $File.Path }}
                <div id="top-github-link">
                  <a class="" href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}" target="blank">
                    <i class="fa fa-code-fork"></i>
                    {{T "Edit-this-page"}}
                  </a>
                </div>
              {{ end }}
            {{ end }}
        </section>


        </div> <!-- End col-sm-12 -->
      </div> <!-- End row -->
    </div> <!-- End container -->

    {{ partial "footer-altinndigital.html" . }}

    <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">
      <div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div>
    </div>
    <script src="{{"js/clipboard.min.js" | relURL}}"></script>
    <script src="{{"js/html5shiv-printshiv.min.js" | relURL}}"></script>
    <script src="{{"js/highlight.pack.js" | relURL}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{"js/modernizr.custom.71422.js" | relURL}}"></script>

    <script src="/docs/js/altinndocs-learn.js"></script>
    <script src="https://altinn.no/bundles/frontpagejs?v=fToF9yeyLirN1KGlV6H04iJZugmbrql9Jxp_hW3eR-U1"></script>
    <script src="/docs/js/altinndocs.js"></script>

  </body>
</html>
