<footer class="an-footer a-bgBlueDarker ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 an-footer-contactColumn">
                <div class="an-footer-contactInfo">
                    <h1 class="an-footer-heading">Vil du vite mer?</h1>
                    <ul class="an-footer-contactLinks">
                        <li>
                            <a href="tel:75006299">
                                <i class="ai ai-phone   " aria-hidden="true"></i>
                                <span>75 00 62 99</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.altinndigital.no/om-altinn/">
                                <!-- START: 00-atomer-09-bilder-og-media-15-ikon -->
                                <i class="ai ai-send   " aria-hidden="true"></i>

                                <!-- END: 00-atomer-09-bilder-og-media-15-ikon -->
                                <span>Kontakt oss</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-9 an-footer-navigationColumn">
                <div class="an-footer-search">
                    <div class="form-group a-form-group   a-form-group-darkBackground  ">
                        <label class="a-form-label  sr-only  " for="text-input-search-footer">Søk etter innhold</label>
                        <div class="a-form-group-items input-group   ">
                            <input class="form-control a-hasButton  " type="search" placeholder="Søk etter innhold"
                                name="query" data-val="true" id="text-input-search-footer">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="footerserachbutton">
                                    <i class="ai ai-search   " aria-hidden="true"></i>
                                    <span class="sr-only">Søk</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <ul class="an-footer-infoLinks">
                    <li>
                        <a class="" href="https://www.altinndigital.no/om-altinn/">Om Altinn</a>
                    </li>
                    <li>
                        <a class="" href="https://jobb.altinndigital.no/">Jobb hos oss</a>
                    </li>
                </ul>
                <div class="an-footer-supplementaryInfo">
                    <ul class="an-footer-smallLinks">
                        <li>
                            <a class="" href="https://www.altinndigital.no/driftsmeldinger/">Driftsmeldinger</a>
                        </li>
                        <li>
                            <a class="" href="https://www.altinndigital.no/om-altinn/personvern/">Personvern</a>
                        </li>
                        <li>
                            <a class="" href="https://www.altinndigital.no/hjelp/">Hjelp</a>
                        </li>
                    </ul>
                    <span class="an-footer-address">Brønnøysundregistrene, 8910 Brønnøysund</span>
                </div>
            </div>
        </div>
    </div>
</footer>