<div class="jumbotron jumbotron-fluid a-jumbotron a-jumbotron-header a-jumbotron-dark" style="background-color: #0062BA; background-image: url('/docs/images/illustrasjon_forside.svg')">

  <div class="container">
      <div class="row">
          <div class="col-8 col-sm-6 offset-sm-1">
              <span class="a-jumbotron-ingress">
                  Her finner du den tekniske veiledningen du trenger for å digitalisere tjenester med hjelp av Altinns produkter.
              </span>
          </div>
      </div>
  </div>
</div>