<div style="background-color: #0062BA;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid a-jumbotron a-jumbotron-header a-jumbotron-dark adocs-jumbotron-leftimage"
                    style="background-color: #0062BA; background-image: url('/docs/images/illustrasjon_forside_venstre.svg')">
                            <span class="a-jumbotron-ingress">
                                Teknisk dokumentasjon for Altinn 2.
                            </span>
                </div>
            </div>
        </div>
    </div>
</div>
