<div class="form-group a-form-group ">
    <label class="a-form-label sr-only" for="searchdocumentation">Søk i dokumentasjonen</label>
    
    <div class="a-form-group-items input-group">
    
        <input id="searchdocumentation" class="form-control a-hasButton" type="search" placeholder="Søk i dokumentasjonen" name="input-field" data-val="true">
    
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button" id="searchdocumentation-submit">
                <i class="ai ai-search"></i>
                <span class="sr-only">Søk</span>
            </button>
        </div>
    </div>
</div>
