.evidenceCode .header {
	background-color:#0062ba
}
.evidenceCode .header i {
	float:left;
    margin:1.1rem .7rem;
	color:white
}
.evidenceCode.isOpened .header i {
    transform: rotate(90deg);
}
.evidenceCode .header a {
	display:block!important;
	border-bottom:none!important;
	width:100%;
	padding:.4rem
}
.evidenceCode .header span.name {
	font-size:1.5rem;
	color:white
}
.evidenceCode .detailscontainer {
    display: none;
    border: 1px solid #ccc;
	padding: 0 1rem;
}
.evidenceCode .detailscontainer dl {
	font-size:small
}
.evidenceCode .detailscontainer dt {
	float:left;
	clear:both;
	width:140px
}
